/* Barra lateral centrada a la derecha */
.right-sidebar {
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 50%; /* Centrado vertical */
    right: 20px; /* A la derecha */
    transform: translateY(-50%); /* Centramos exactamente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Alinea el contenido dentro del cuadro */
}

.status {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.online {
    background-color: #4CAF50;
    color: white;
}

.offline {
    background-color: #f44336;
    color: white;
}

.players {
    margin-top: 15px;
    font-size: 1.2rem;
}

.copyable-ip {
    color: #4CAF50;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    text-align: center;
}

.copyable-ip:hover {
    color: #45a049;
}
